#sobre {
  padding: 30px 0 10px;
}

.sobre-container {
  margin: auto;

  background: url('../../../media/images/background-codelines.svg') no-repeat;
  background-size: cover;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sobre-container h1 {
  font-size: 30px;
  line-height: 50px;
  max-width: 400px;
  margin-left: 30px;
  margin-top: 200px;
}

.sobre-card {
  position: relative;
  width: 50rem;
  padding: 50px 50px;
  border-radius: 8px;

  margin: 100px auto 50px;

  background: var(--cardBackground);
  box-shadow: 0 0 20px var(--shadowColor);
}


.sobre-card-image {
  position: relative;
  top: 0;

  margin-top: -120px;
  margin-left: -50px;
  margin-bottom: 30px;

  border-radius: 10px;
}

.image-1 {
  width: 15rem;
  transform: rotate(-3deg);
  box-shadow: 0px 0px 20px var(--shadowColor);
}

.sobre-card-title {
  position: absolute;
  top: 0;
  right: 0;

  margin: 50px;

  text-align: end;
}

.sobre-card-information {
  clear: both;
}

.sobre-card-information :first-child {
  color: var(--main);
}

.sobre-card-information p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 30px;
  color: var(--text) !important;
}

.sobre-card-information p a {
  text-decoration: underline;
}

.python-icon {
  color: rgb(0, 16, 161);
}

.js-icon {
  color: rgb(255, 255, 0);
}

.mong-icon {
  color: rgb(3, 231, 15);
}

.nginx-icon {
  color: rgb(51, 177, 58);
}

.apa-icon {
  color: rgb(80, 23, 85);
}

.mys {
  color: rgb(41, 116, 255);
}

.html5 {
  color: rgb(255, 145, 0);
}

.cs {
  color: rgb(0, 94, 216);
}

.linx {
  color: rgb(136, 136, 136);
}

.nod {
  color: rgb(0, 180, 60);
}

.vu {
  color: rgb(0, 90, 30);
}

.reac {
  color: rgb(0, 160, 253);
}

.dj {
  color: rgb(0, 59, 20);
}

.py {
  color: rgb(0, 25, 253);
}

.ph {
  color: rgb(0, 36, 194);
}

div {
  text-align: center;
}